[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "*"
holoviews = "*"
ipykernel = "*"
nbformat = "*"
streamlit = "*"
tqdm = "*"
"vegafusion[embed]" = "*"
"vegafusion-jupyter[embed]" = "*"
streamlit-vega-lite = "*"

[dev-packages]

[requires]
python_version = "3.11"
